@import '../../global-styles/mixin';

@keyframes modal-ani {
  0% {
      opacity: 0;
  }
  50% {
    opacity: 5;
  }
  100% {
    opacity: 10;
  }
}

.wrapper {
  height: 150vh;

  .loginModal {
    display: none;
    animation: modal-ani 2s alternate;
    .loginModal__background {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 99;
    }

    .loginModal__box {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 330px;
      height: 250px;
      padding: 18px 20px 20px;
      background: white;
      border-radius: 15px;
      z-index: 100;

      .loginModal__header {
        height: 42px;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        border-bottom: 2px solid #ddd;
        margin-bottom: 1em;
        padding-bottom: 0.7em;

        span {
          font-weight: bold;
          margin-right: auto;
        }
        
        button {
          padding-top: 2px;
          border: none;
          background: white;

          i {
            font-size: 1.2rem;
          }
        }
      }

      .loginModal__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding: 18px 20px 30px;
        padding-top: 18px;

        .kakaoLogin__link {
          width: 303px;
          height: 42px;
          background: rgb(254, 234, 2);
          border: none;
          border-radius: 5px;
          font-size: 1.2rem;
          margin-bottom: 1em;
          cursor: pointer;

          a {
            margin-left: 0.5rem;
          }
        }

        span {
          color: #9D9D9D;
          border-bottom: 1px solid #9D9D9D;
        }
      }
    }
  }

  .navbar {
    width: 100%;
    height: 60px;
    padding: 0 1rem;

    .navbar__links {
      max-width: 1100px;
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0 auto;

      .logo {
        font-size: 1.4rem;
        font-weight: bold;
        margin-right: auto;
      }

      .authenticate {
        border: 1px solid rgb(17, 199, 143);
        padding: 0.5em 1.2em;
        border-radius: 12px;
        color: #11C78F;
      }

      .login {
        margin-left: 1.5em;
      }
    }
  }

  .categories {
    width: 100%;
    height: 55px;
    padding: 0 1rem;
    border-bottom: 1px solid #ddd;

    .category__links {
      max-width: 1100px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      font-size: 1.2rem;

      a {
        color: rgb(97, 97, 97);
      }
    }
  }
}

@include tablet {
  .wrapper {
    .navbar {
      .navbar__links {
        .logo {
          color: red;
        }

        .authenticate {
          font-size: 1.2rem;
          border-radius: 24px;
        }
      }
    }

    .loginModal {
      .loginModal__box {
        width: 450px;
        height: 350px;
      }
    }
  }
}

@include desktop {
  .wrapper {
    .navbar__links {
      .logo {
        color: blue;
      }

      .authenticate {
        font-size: 1.2rem;
      }
    }

    .loginModal {
      .loginModal__box {
        width: 500px;
        height: 400px;
      }
    }
  }
}