@import '../../global-styles/mixin';

.placeContainer {
  max-width: 1200px;
  margin-top: .5em;

  .placeAbout {
    display: flex;

    .placeInfo {
      display: none;
    }
  }

  .placeButtons {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0 .8em;

    i {
      font-size: 1.8rem;
      margin-left: .5em;
    }

    .liked {
      color: red;
    }
  }
}

@include tablet{
  .placeContainer {
    margin: 0 auto;

    .placeAbout {
      .placeInfo {
        display: block;
        width: 50%;
        background: chocolate;
      }
    }

    .slider {
      width: 50%;
      height: 100%;
    }

    .info-container {
      width: 50%;
      height: 100%;
    }
  }
}
