@import '../../global-styles/mixin';

.placesContainer {
  max-width: 1200px;
  margin: 0 auto;
  // padding: 0.5em 0.5em 0 0.5em;

  .place-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .placeItem {
    display: flex;
    height: 150px;
    border-bottom: 1px solid #ddd;
    padding: 0.5em 0 0.5em 0.5em;

    .placeImage {
      width: 40%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .placeInfo {
      display: flex;
      flex-direction: column;
      width: 40%;
      padding-top: 0.5em;
      padding-left: 1em;

      strong {
        font-size: 1.3rem;
      }
    }
  }
}

@include tablet {
  .placesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .placeItem {
      display: flex;
      flex-direction: column;
      width: 340px;
      height: 450px;
      margin: 2em 0 0 0;
      padding: 0;
      box-shadow: 3px 4px 5px 0 rgba(2,2,2,.2);

      .placeImage {
        width: 100%;
        height: 55%;
      }

      .placeInfo {
        width: 100%;
        text-align: center;
      }
    }

  }
}

@include desktop {
  .placesContainer {
    justify-content: flex-start;

    .placeItem {
      width: 370px;
      margin: 2em 0 3em 2em;
    }

  }
}