@import '../../global-styles/mixin';

.placesContainer {
  max-width: 1024px;
  margin: 0 auto;

  .place-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .placeItem {
    display: flex;
    height: 140px;
    border-bottom: 1px solid #ddd;

    // padding: 1em 0;
    // padding-left: 1rem;
    .placeImage {
      width: 50%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@include tablet {
  .placesContainer {
    .placeItem {
      height: 190px;
    }
  }
}

@include desktop {
  .placesContainer {

    .placeItem {
      height: 240px;
    }
  }
}